/* general styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80vw;
    margin: 0 auto;
}

header {
    background-color: #4caf50;
    padding: 1.2rem;
    color: #fff;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

button {
    padding: 0.6rem 1.2rem;
    margin: 0.5rem 0;
    border: 0.1rem solid #000;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    border-radius: 0.6rem;
    font-size: 1rem;
}

button:hover {
    background-color: #45a049;
}

.book-table {
    margin-top: 3vh;
}

#bookTable {
    width: 100vw;
    border-collapse: collapse;
    margin-top: 3vh;
}

#bookTable th, #bookTable td {
    padding: 1.2rem;
    border: 0.1rem solid #ddd;
    font-size: 1rem;
}

#bookTable th {
    background-color: #f2f2f2;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 2rem;
    border-radius: 0.8rem;
    width: 30vw;
    min-width: 20rem;
    max-width: 50vw;
}

input[type="text"], input[type="number"] {
    width: 100%;
    padding: 0.5rem;
    margin: 1rem 0;
    border: 0.1rem solid #ddd;
    border-radius: 0.8rem;
    font-size: 1rem;
}

#themeToggleBtn {
    background-color: #333;
    color: #fff;
    padding: 0.8rem 1.6rem;
    border-radius: 0.8rem;
    font-size: 1rem;
}

.dark-mode {
    background-color: #333;
    color: #000;
}

.dark-mode button {
    background-color: #555;
    color: #fff;
}