<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>bookServlet</servlet-name>
        <servlet-class>com.library.BookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <url-pattern>/api/books</url-pattern>
    </servlet-mapping>

</web-app>